.cardTidus {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	width: 280px;
	height: 360px;
	background-color: var(--background-color-header-footer);
	padding: 10px 0px;
	border-radius: 7px;

	.cardTop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0px 10px;

		#infoDog {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			color: var(--main-color);

			.raceCityDog {
				font-size: 15px;
			}
		}
	}

	.photoMyProfile {
		width: 100%;
		height: 100%;
	}
}

.cardTidusBack {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 45px;
	width: 280px;
	height: 360px;
	background-color: var(--background-color-header-footer);
	padding: 10px 0px;
	border-radius: 7px;

	.cardTop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0px 10px;

		#infoDog {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			color: var(--main-color);

			.raceCityDog {
				font-size: 15px;
			}
		}
	}

	.descriptionsDog {
		padding: 0px 10px;

		.descriptionDog {
			display: flex;
			padding-bottom: 7px;

			p {
				text-align: left;
				line-height: 1.5;
				font-size: 13px;
			}

			.iconeDescriptionDog {
				font-size: 20px;
				padding-right: 5px;
			}
		}
	}
}
