.cardProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 280px;
	height: 485px;
	background-color: #efede6;
	color: black;
	padding: 10px;
	border-radius: 5px;

	.cardTop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.infoDog {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			color: #5c913b;

			.nameDog {
				font-weight: bold;
			}
		}
	}

	.logosProfile {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	#photoDog {
		border-radius: 5px;
		height: auto;
	}
}

.photoDog {
	width: 280;
	height: 200;
}

.heart-img {
	width: 60px;
	height: auto;
}

.line-card-img {
	width: 1px;
	height: 60px;
}

.x-circle-img {
	width: 60px;
	height: auto;
}

.dots-img {
	width: 30px;
	height: auto;
}

.arrow-right-circle-img {
	width: 50px;
	height: 50px;
}

.button {
	background: none;
	border: none;
	cursor: pointer;
}

.cardProfileback {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 280px;
	height: 485px;
	background-color: #efede6;
	color: black;
	padding: 10px;
	gap: 20px;
	border-radius: 5px;

	.cardTop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		#infoDog {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			color: #5c913b;

			#nameDog {
				font-weight: bold;
			}
		}
	}

	.logosProfile {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	#photoDog {
		border-radius: 5px;
	}
}

.cardProfileback .favorite-foods,
.cardProfileback .phobias,
.cardProfileback .hobbies,
.cardProfileback .personnality {
	display: flex;
}

.cardProfileback p {
	text-align: left;
	line-height: 1.2;
}
