:root {
	--main-color: #5c913b;
	--background-color-header-footer: #efede6;
	--background-color-body: #f9f8f4;
	--text-color: black;
	--border-color: #ff3c14;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	padding: 2rem;
	background-color: var(--background-color-body);
}

.h1 {
	display: inline;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
	margin-left: 20;
}

.subtitle {
	font-size: 1.2rem;
	color: #333;
	text-align: left;
}

.discover-button {
	background-color: #5c913b;
	color: white;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	margin: 2rem 0;
	cursor: pointer;
}

.features {
	display: inline-block;
	gap: 2rem;
	justify-content: flex-start;
	margin-bottom: 3rem;
}

.feature {
	text-align: center;
	max-width: 150px;
}

.icon {
	font-size: 2rem;
	background-color: #e3e8cd;
	padding: 1rem;
	border-radius: 50%;
	margin-bottom: 0.5rem;
}

.dog-profile {
	text-align: center;
	margin: 3rem 0;
}

.woof {
	color: #b3d537;
	font-weight: bold;
	margin-bottom: 1rem;
}

.dog-card {
	background-color: #dce6b8;
	border-radius: 20px;
	overflow: hidden;
	display: inline-block;
	max-width: 250px;
}

.dog-image {
	width: 100%;
	height: auto;
	display: block;
}

.dog-name {
	font-weight: bold;
	font-size: 1.5rem;
	padding: 1rem;
}

.badges {
	background-color: #f2f2eb;
	padding: 2rem;
	border-radius: 10px;
}

.badge-title {
	font-weight: bold;
	font-size: 0.9rem;
	margin-bottom: 1rem;
	text-align: center;
}

.badge-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
}

.badge-list li {
	margin: 0.5rem 1rem;
	font-size: 0.95rem;
}
.badge-icon {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}
