@font-face {
	font-family: "Chelsea Market";
	src: url("/fonts/ChelseaMarket-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--main-color: #5c913b;
	--background-color-header-footer: #efede6;
	--background-color-body: #f9f8f4;
	--text-color: black;
	--border-color: #ff3c14;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0.4rem;
	background-color: var(--background-color-body);
	width: 100%;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.intro {
	flex: 1;
	margin-top: 0px;
}

.title {
	text-align: left;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-left: 20px;
	font-family: "Chelsea Market", cursive;
	color: var(--text-color);
}

.subtitle {
	font-size: 1.2rem;
	color: #333;
	text-align: left;
	margin-left: 20px;
	font-family: "Chelsea Market", cursive;
}

.woof {
	color: #b1a680;
	font-weight: bold;
	margin-bottom: 1rem;
}

.discover-button {
	background-color: var(--main-color);
	color: white;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	margin: 3rem 0 2rem 0;
	cursor: pointer;
}

.features {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	margin-bottom: 3rem;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
}

.icon img,
.icon-image {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 150px;
}

.badge-info {
	margin-top: 4rem;
	text-align: center;
}

.icon {
	font-size: 2rem;
	padding: 1rem;
	border-radius: 50%;
	margin-bottom: 0.5rem;
}

.badges {
	font-family: "Chelsea Market", cursive;
	background-color: var(--background-color-body);
	padding: 2rem;
	border-radius: 10px;
	width: 100%;
}

.dog-card {
	padding-right: 20px;
}

.badge-title {
	font-weight: bold;
	font-size: 0.9rem;
	margin-bottom: 1rem;
	text-align: center;
}

.badge-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
}

.badge-list li {
	margin: 0.5rem 1rem;
	font-size: 0.95rem;
}

.badge-icon {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

@media screen and (max-width: 1023px) {
	.top-bar {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.dog-card {
		padding-right: 0px;
	}

	.intro {
		margin-top: 1rem;
	}

	.dog-profile {
		margin-top: 2rem;
	}

	.features {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
		flex-wrap: nowrap;
		width: 100%;
	}

	.feature {
		flex: 1 1 150px;
	}
}
