section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px 50px 0px;

	.filters {
		display: flex;
		width: 100%;
		justify-content: center;

		#filterLogo {
			margin-top: 5px;
		}

		.filterUse {
			display: flex;
			flex-direction: column;
			align-items: center;
			min-height: 100px;
			width: 60px;

			.filterButton {
				background: none;
				border: none;
			}

			.searchBar {
				border-radius: 15px;
				margin-top: 8px;
				transition: opacity 0.3s ease;
				width: 130px;
				height: 30px;
				padding-left: 8px;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				pointer-events: none;
			}

			.multiSelect {
				width: 200px;
				font-size: 12px;
			}

			.ageRange {
				display: flex;
				flex-direction: column;
				width: 200px;
			}

			.ticks-labels {
				display: flex;
				justify-content: space-between;
				font-size: 10px;
			}

			.ticks-labels span {
				flex: 1;
				text-align: center;
			}
		}
	}
}

.profilesFiltered {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;

	.card-2 {
		display: none;
	}
	.card-3 {
		display: none;
	}
}

.visibleInput {
	opacity: 1 !important;
	visibility: visible !important;
	position: static !important;
	pointer-events: auto !important;
}

@media (min-width: 1024px) {
	section {
		.filters {
			display: flex;
			width: 100%;
			justify-content: space-between;

			#filterLogo {
				margin-top: 5px;
				margin-left: 20px;
			}

			.filterUse {
				display: flex;
				flex-direction: column;
				align-items: center;
				min-height: 100px;
				width: 100%; /* pour que les filtres aient une largeur cohérente */
				box-sizing: border-box;

				.filterButton {
					background: none;
					border: none;
				}

				.searchBar {
					border-radius: 15px;
					margin-top: 8px;
					transition: opacity 0.3s ease;
					width: 130px;
					height: 30px;
					padding-left: 8px;
					display: block !important;
					opacity: 1 !important;
					visibility: visible !important;
					position: static !important;
					pointer-events: auto !important;
				}

				.ageRange {
					display: flex;
					flex-direction: column;
					width: 200px;
				}

				.ticks-labels {
					gap: 15px;
					font-size: 11px;
					line-height: 100%;
					padding-top: 5px;
				}

				.ticks-labels span {
					flex: 1;
					text-align: center;
				}
			}
		}
	}

	.profilesFiltered {
		.card-2 {
			display: block;
		}
		.card-3 {
			display: block;
		}
	}
}
