section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px 50px 0px;

	.filtersSection {
		display: flex;
		width: 100%;
		justify-content: space-evenly;

		#filterLogo {
			margin-top: 5px;
			margin-left: 20px;
		}

		.filtersButtons {
			display: flex;
			align-items: flex-start;
			justify-content: space-evenly;
			width: 100%;
			min-height: 40px;

			.button {
				background: none;
				border: none;
			}

			.red {
				color: var(--border-color);
			}
		}
	}

	.filtersUse {
		padding-bottom: 3.125rem;

		#searchBar {
			max-height: 30px;
		}
		.multiSelect {
			width: 200px;
			font-size: 12px;
		}

		.ageRange {
			display: flex;
			flex-direction: column;
			width: 200px;
		}

		.ticks-labels {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			font-size: 10px;
		}

		.ticks-labels span {
			flex: 1;
			text-align: center;
			padding-top: 5px;
		}
	}
}

.profilesFiltered {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;

	.card-2 {
		display: none;
	}
	.card-3 {
		display: none;
	}
}

@media (min-width: 1024px) {
	section {
		.filtersSection {
			display: flex;
			width: 100%;
			justify-content: space-between;

			#filterLogo {
				margin-top: 5px;
				margin-left: 20px;
			}

			.filtersButtons {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				min-height: 40px;
				width: 100%;
				padding: 0rem 7.5rem 0rem 4.375rem;
			}
		}

		.filtersUse {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding: 0rem 3rem 3.125rem 3rem;

			#searchBar {
				max-height: 30px;
			}

			.ageRange {
				display: flex;
				flex-direction: column;
				width: 200px;
			}

			.ticks-labels {
				gap: 15px;
				font-size: 11px;
				line-height: 100%;
				padding-top: 5px;
			}

			.ticks-labels span {
				flex: 1;
				text-align: center;
			}
		}
	}

	.profilesFiltered {
		.card-2 {
			display: block;
		}
		.card-3 {
			display: block;
		}
	}
}
