.cardProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 280px;
	height: 485px;
	background-color: var(--background-color-header-footer);
	padding: 10px;
	gap: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 0px grey;

	.cardTop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		#infoDog {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			color: var(--main-color);

			#nameDog {
				font-weight: bold;
			}
		}
	}

	.logosProfile {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	#photoDog {
		border-radius: 5px;
	}
}

.cardProfileback {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 280px;
	height: 485px;
	background-color: #efede6;
	color: var(--text-color);
	padding: 10px;
	gap: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 0px grey;

	.cardTop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		#infoDog {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			color: var(--main-color);

			#nameDog {
				font-weight: bold;
			}
		}
	}

	.personalityDog {
		p {
			padding-bottom: 7px;
			text-align: left;
			line-height: 1.5;
		}
	}

	.logosProfile {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	#photoDog {
		border-radius: 5px;
	}
}
