/* Charger la police ChelaOne-Regular depuis le dossier assets */
@font-face {
	font-family: "ChelaOne-Regular";
	src: url("./src/assets/font/ChelaOne-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

header {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-header-footer);
	gap: 5px;
	padding: 15px 20px;
}

header section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	padding: 0;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 0.8rem;
}

/* Applique la police ChelaOne-Regular uniquement au h1 dans le header */
header h1 {
	font-family: "ChelaOne-Regular", sans-serif;
}

@media (min-width: 1024px) {
	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	header .logoSite {
		width: 80px;
		height: 80px;
	}

	header nav {
		justify-content: center;
		gap: 20px;
		font-size: 1rem;
	}
}
