:root {
	--main-color: #5c913b;
	--background-color-header-footer: #efede6;
	--background-color-body: #f9f8f4;
	--text-color: black;
	--border-color: #ff3c14;
}

body {
	font-size: 16px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

h1 {
	font-size: 2rem;
	font-family: "Chela One", system-ui;
}

h2 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}
