:root {
	--main-color: #5c913b;
	--background-color-header-footer: #efede6;
	--background-color-body: #f9f8f4;
	--text-color: black;
	--border-color: #ff3c14;
}

body {
	font-size: 16px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}

.cardProfil,
.cardProfilback {
	width: 300px; /* ou une autre largeur adaptée */
	height: auto;
	margin: 0 auto;
	background-color: var(--background-color-body);
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.6s;
	backface-visibility: hidden;
}

.react-card-flip {
	width: 300px;
	margin: auto;
}

.cardTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
